@(user: User, mform: Form[models.form.AvatarUploadForm])

@import helper.twitterBootstrap._

@helper.form(routes.Users.processAvatarUpload(user.getId()), 'enctype -> "multipart/form-data", 'id -> "formAvatarUpload") {
<fieldset>
  @helper.inputFile(mform("avatar"), '_showConstraints -> false, '_label -> "")
  <div>
    <button type="submit" class="btn btn-small btn-info" id="upload_avatar">Загрузить портрет</button>
  </div>              
</fieldset>
}

<!-- helper.form(routes.Application.processAvatarUpload, 'enctype -> "multipart/form-data", 'id -> "formAvatarUpload") {
<fieldset>
  helper.inputFile(mform("avatar"), '_showConstraints -> false, '_label -> "")
  <div>
    <button type="submit" class="btn btn-small btn-info" id="upload_avatar">Загрузить портрет</button>
  </div>              
</fieldset>
}
-->
<!--
<script type="text/javascript">
  $('#avatar_field').hide();
  $('#upload_avatar').click(function(e) {
    e.preventDefault();
    $('#avatar').trigger('click');   
  });
  $('#avatar').change(function(){
    if($('#avatar').val()) {
      $('#formAvatarUpload').submit();
    }
  });
</script>
  -->