@(book: Book, mform: Form[_], bookNameF : String, bookAuthorF : String, genreF : String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@helper.inputText(mform(bookAuthorF), '_label -> "Автор книги", '_showConstraints -> false, '_help -> "Пожалуйста, указывайте имя, отчество и фамилию автора полностью. Наш журнал уважает букву «ё», пробелы и заглавные буквы. Пример: Лев Николаевич Толстой, Фёдор Михайлович Достоевский")
@helper.inputText(mform(bookNameF), '_label -> "Название книги", '_showConstraints -> false, '_help -> "Название книги в этом поле пишем без кавычек, с большой буквы. Пример: Война и мир, Идиот.")
<!-- helper.select(mform(genreF), helper.options(Genre.allGenresConcWE()), '_label -> "Жанр", '_showConstraints -> false)  -->
<div class="control-group">  
  <label class="control-label" for="@genreF">Жанр: </label>  
  <div class="controls">
    <select id="@genreF" name="@genreF" class="chosen-single chosen-single-with-deselect" tabindex="-1">
      <option value=""></option>
      @for(genre <- Genre.allGenresNested()) {
        <option value="@genre.getId()" style="font-weight: bold;" @if(book!=null && book.getGenre().getId() == genre.getId()) { selected }>@genre.getName()</option>
        @for(cgenre <- genre.getChild()) {
          <option value="@cgenre.getId()" @if(book!=null && book.getGenre().getId() == cgenre.getId()) { selected }>&nbsp;&nbsp;&nbsp;@cgenre.getName()</option>
        }  
      }
    </select>
    <p class="help-inline"></p>  
  </div>  
</div>

<script type="text/javascript">
  $("#@genreF").chosen({
    allow_single_deselect: true
  });
</script>
