@(page: Page, id: Long, mform: Form[models.form.EditPageForm])

@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@base.infoBlock(mform, "editPage")
 
@helper.form(routes.Pages.processEdit(id), 'class -> "form-horizontal") {
  <fieldset>
    <legend>
    @if(page == null) {
      Создание новой страницы
    } else {
      Редактирование страницы: @page.getHeader()
    }
    </legend>
    @helper.inputText(mform("header"), '_label -> "Название", '_showConstraints -> false)
    @helper.textarea(mform("content"), '_label -> "Текст", '_showConstraints -> false, 'rows -> 23, 'cols -> 150, 'class -> "input-xxlarge")
    <div>
      <button type="submit" class="btn btn-success">Сохранить</button>
    </div>              
  </fieldset>
}
