@(field : play.data.Form.Field)
<div class="control-group">
  <label class="control-label" for="status">Статус</label>
  <div class="controls">
    <select id="status" name="status" tabindex="-1">
      @for(status <- MaterialStatus.getUserStatuses()) {
        <option value="@status.getId()" @if((field!= null && field.value() !=null && field.value().equals(status.getId().toString())) || ((field == null || field.value() == null) && status == MaterialStatus.getUserStatuses().last)) { selected }>@status.getName()</option>
      }
    </select>
    <p class="help-inline"></p>
  </div>
</div>
