@(user: User, mat : Material, mid: Long, mform: Form[models.form.PublishKnigoverthForm])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@publishForm(mat, "publishKnigoverthForm", "Публикация в рубрику \"Всякая всячина\"", routes.Materials.processPublishKnigoverth(user.getId(), mid), mform) {
<hr>
<div id="books_tag">
  <div id="books_tag_container">
  @if(mat != null && mat.getBooks()!=null) {
    @for((book,index) <- mat.getBooks().zipWithIndex) {
      <div id="book_field@{index+1}">
        @if(index>0) { <hr class="soften"> }
        @bookForm(book, mform, "bookName" + (index+1), "bookAuthor" + (index+1), "bookGenre" + (index+1))
        <a href="#" id="remove_book_from_container@{index+1}" class="small_tag_hover"><span class="label">Удалить книгу</span></a>
      </div> 
   	}
  }
  </div>
  @if(mat == null || (mat!=null && mat.getBooks()!=null && mat.getBooks().size()<3)) {
    <a href="#" id="add_book_to_container" class="small_tag_hover"><span class="label">Добавить книгу</span></a>
  }
</div>
<hr>
<div id="authohrs_tag">
  <div id="authors_tag_container">
  @if(mat != null && mat.getAuthors()!=null) {
    @for((author,index) <- mat.getAuthors().zipWithIndex) {
      <div id="author_field@{index+1}">
        @if(index>0) { <hr class="soften"> }
        @authorForm(mform, "author" + (index+1))
        <a href="#" id="remove_author_from_container@{index+1}" class="small_tag_hover"><span class="label">Удалить автора</span></a>
      </div>      
   	}
  }
  </div>
  @if(mat == null || (mat!=null && mat.getAuthors()!=null && mat.getAuthors().size()<3)) {
    <a href="#" id="add_author_to_container" class="small_tag_hover"><span class="label">Добавить автора</span></a>
  }
</div>
<hr>
<div id="genres_tag">
  <div id="genres_tag_container">
  @if(mat != null && mat.getGenres()!=null) {
    @for((genre,index) <- mat.getGenres().zipWithIndex) {
      <div id="genre_field@{index+1}">
        @if(index>0) { <hr class="soften"> }
        @genreForm(mform, "genre" + (index+1))
        <a href="#" id="remove_genre_from_container@{index+1}" class="small_tag_hover"><span class="label">Удалить жанр</span></a>
      </div> 
   	}
  }
  </div>
  <a href="#" id="add_genre_to_container" class="small_tag_hover"><span class="label">Добавить жанр</span></a>
</div>
<hr>
}

<script type="text/javascript">
  function bindRemoveBook(elemObj) {
	elemObj.click(function(e) {
	  e.preventDefault();
	  $(this).parent().remove();
	  aCont = $('#books_tag_container');
	  count = aCont.children().length;
	  count--;
	  if(count < 3) {
	    $("#add_book_to_container").show();
	    if(count == 1) {
	      aCont.find('hr').remove();
	    }
	  }
    });	  
  };

  $("#add_book_to_container").click(function(e) {
    e.preventDefault();
    aCont = $('#books_tag_container'); 
    count = aCont.children().length;
    nid = count == 0 ? 1 : count+1;
    appJsRoutes.controllers.Materials.getBookInputForm("bookName" + nid, "bookAuthor" + nid, "bookGenre" + nid).ajax({
      success: function(indata) {
        aCont.append("<div id=\"book_field" + nid + "\">" + 
                     (count == 0 ? "" : "<hr class=\"soften\">" ) +
                     indata +
                     "  <a href=\"#\" id=\"remove_book_from_container" + nid + "\" class=\"small_tag_hover\"><span class=\"label\">Удалить книгу</span></a>" +
                     "</div>");
        count++;
        if(count == 3) {
          $("#add_book_to_container").hide();
        }
        bindRemoveBook($("#remove_book_from_container" + nid));
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });
  
  $("[id^=\"remove_book_from_container\"]").each(function() {
    bindRemoveBook($(this)); 
  });

  function bindRemoveAuthor(elemObj) {
    elemObj.click(function(e) {
      e.preventDefault();
      $(this).parent().remove();
      aCont = $('#authors_tag_container'); 
      count = aCont.children().length;
      count--;
      if(count < 3) {
        $("#add_author_to_container").show();
        if(count == 1) {
          aCont.find('hr').remove();
        }
      } 
    });
  };
  
  $("#add_author_to_container").click(function(e) {
    e.preventDefault();
    aCont = $('#authors_tag_container'); 
    count = aCont.children().length;
    nid = count == 0 ? 1 : count+1;
    appJsRoutes.controllers.Materials.getAuthorInputForm("author" + nid).ajax({
      success: function(indata) {
        aCont.append("<div id=\"author_field" + nid + "\">" + 
          (count == 0 ? "" : "<hr class=\"soften\">" ) +
             indata +
          "  <a href=\"#\" id=\"remove_author_from_container" + nid + "\" class=\"small_tag_hover\"><span class=\"label\">Удалить автора</span></a>" +
          "</div>");
        count++;
        if(count == 3) {
          $("#add_author_to_container").hide();
        }
        bindRemoveAuthor($("#remove_author_from_container" + nid));
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });
  
  $("[id^=\"remove_author_from_container\"]").each(function() {
	bindRemoveAuthor($(this)); 
  });

  function bindRemoveGenre(elemObj) { 
	elemObj.click(function(e) {
      e.preventDefault();
      $(this).parent().remove();
      aCont = $('#genres_tag_container'); 
      count = aCont.children().length;
      count--;
      if(count < 3) {
        $("#add_genre_to_container").show();
         if(count == 1) {
          aCont.find('hr').remove();
        }
      }
    });
  };

  $("#add_genre_to_container").click(function(e) {
    e.preventDefault();
    aCont = $('#genres_tag_container'); 
    count = aCont.children().length;
    nid = count == 0 ? 1 : count+1;
    appJsRoutes.controllers.Materials.getGenreInputForm("genre" + nid).ajax({
      success: function(indata) {
        aCont.append("<div id=\"genre_field" + nid + "\">" + 
          (count == 0 ? "" : "<hr class=\"soften\">" ) +
             indata +
          "  <a href=\"#\" id=\"remove_genre_from_container" + nid + "\" class=\"small_tag_hover\"><span class=\"label\">Удалить жанр</span></a>" +
          "</div>");
        count++;
        if(count == 3) {
          $("#add_genre_to_container").hide();
        }
        bindRemoveGenre($("#remove_genre_from_container" + nid));
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });
  
  $("[id^=\"remove_genre_from_container\"]").each(function() {
	bindRemoveGenre($(this)); 
  });
</script>

