@(user: User, mat: Material, mid: Long, mform: Form[models.form.PublishAfficheForm])

@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@publishForm(mat, "publishAfficheForm", "Публикация афиши", routes.Materials.processPublishAffiche(user.getId(), mid), mform) {
 <!-- helper.inputDate(mform("date"), '_label -> "Дата начала", '_showConstraints -> false, Symbol("data-date-format") -> "mm/dd/yyyy") -->
    
<!-- <div class="control-group">  
  <label class="control-label" for="date">Дата начала</label>  
  <div class="controls">
    <div id="datetimepicker_start_datetime"></div>
    <input type="text" id="datetime" name="datetime" value="" style="display: none;">
  </div>  
</div>  -->
<div class="control-group">  
  <label class="control-label" for="date">Дата начала</label>  
  <div class="controls">
    <div id="datepicker_start_date"></div>
    <input type="text" id="date" name="date" @if(mat!=null) { value="@mform("date").value()" } style="display: none;">
  </div>  
</div>

<div class="control-group">  
  <label class="control-label" for="date">Время начала</label>  
  <div class="controls">
    <div id="timepicker_start_time"></div>
    <input type="text" id="time" name="time" @if(mat!=null) { value="@mform("time").value()" } style="display: none;">
  </div>  
</div>

<div id="testway"></div>
    
<script>
  $(function() {
    $.datepicker.setDefaults(
      $.extend($.datepicker.regional["ru"])
    );    
    $('#datepicker_start_date').datepicker({
      dateFormat: 'yy/mm/dd',
      @if(mat!=null) { defaultDate: '@mform("date").value()', }
      onSelect: function(dateText, inst) {
    	$('#date').val(dateText);
      }
    })
    $('#timepicker_start_time').timepicker({
      @if(mat!=null) { defaultTime: "@mform("time").value()", }
      onSelect: function(dateText, inst) {
        $('#time').val(dateText);
      }
    });
    $('#publishAfficheForm').submit(function(e) {
      if(!$('#date').val()) {
    	  alert("Выберите дату начала мероприятия!");
    	  return false;
      }
      if(!$('#time').val()) {
    	  alert("Выберите время начала мероприятия!");
    	  return false;
      }
      return true;
    });
  });
</script>  
}

