@(mat: Material, id: String, header: String, call: play.api.mvc.Call, mform: Form[_])(content: Html)

@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@base.infoBlock(mform, id)
 
@helper.form(call, 'class -> "form-horizontal", 'enctype -> "multipart/form-data", 'id -> id) {
  <fieldset>
    <legend>@header</legend>
    @helper.inputText(mform("header"), '_label -> "Название", '_showConstraints -> false)
    
    <!-- helper.inputFile(mform("image"), '_label -> "Изображение", '_showConstraints -> false) -->
    
    @if(mat!=null && mat.getImage()!=null) {
      <div class="control-group ">  
        <label class="control-label" for="image">Изображение</label>  
        <div class="controls">
        	<div>
              <img class="img-rounded" style="width: 300px; height: 250px;" src="@routes.Assets.at(mat.getImage())">
            </div>
            <input type="file" id="image" name="image" >
          <p class="help-inline"></p>  
        </div>  
      </div>
    } else {
      <div class="control-group ">  
        <label class="control-label" for="image">Изображение</label>  
        <div class="controls">
            <input type="file" id="image" name="image" >
          <p class="help-inline"></p>  
        </div>  
      </div>
    }
    
    @content
    <textarea id="content" class="textarea" name="content" placeholder="Enter text ..." style="width: 810px; height: 200px">@if(mat!=null) { @mform("content").value() }</textarea>
    <p>Редакция не ограничивает Вас в объеме текста, но рекомендует придерживаться лимита в 2-3 тыс. знаков.</p>
    @materialStatus(mform("status"))
    <div>
      <button type="submit" class="btn btn-success">Отправить</button>
    </div>              
  </fieldset>
}

<script type="text/javascript">
  $('.textarea').wysihtml5();
</script> 
