@(mform: Form[models.form.RegisterUserForm])

@import helper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@implicitFieldConstructor = @{ FieldConstructor(base.mini.bootstrapInput.f) }

@helper.form(routes.Users.processRegister, 'class -> "form-horizontal") {
  @base.infoBlock(mform, "register")
  <legend>@Messages("register")</legend>
  @helper.inputText(mform("email"), '_label -> Messages("register.email"), '_showConstraints -> false)
  @helper.inputPassword(mform("password"), '_label -> Messages("register.password"), '_showConstraints -> false)
  <div class="form-actions">
    <button type="submit" class="btn btn-success">@Messages("button.doRegister")</button>
  </div>              
}
  
<script type="text/javascript">
   $("#signin_submit").click(function(event) {
      event.preventDefault();
      appJsRoutes.controllers.Application.login($("#signin_email").val(), $("#signin_password").val()).ajax({
	    success: function() {
		  window.location.replace("/profile");
        },
        error: function(data) {
          alert(data.responseText);
        }
      });
   });
</script>