

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 15px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
  border: 1;
}

div.hovered:hover {
  background-color: #eeeeee;
}

.mat_header:hover {
  color: #000000;
  text-decoration: none;
}

.mat_content_css {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.mat_header {
  /*font: 62.5%/1.5 'ff-meta-serif-web-pro-1', 'ff-meta-serif-web-pro-2', Georgia, serif;
  font-family: 'ff-meta-web-pro-1', 'ff-meta-web-pro-2', Arial, sans-serif;
  color: #333;*/
  
	color: rgb(51, 51, 51);
	color: #444444;

        /*font-family: Georgia, 'Times New Roman', Times, serif;*/
/*	font-family: ff-meta-web-pro-2, ff-meta-web-pro-2, Arial, sans-serif;*/
	/*font-size: 36px;*/
	font-style: strong;
	font-variant: normal;
	font-weight: 600;
	height: 39px;
	letter-spacing: -1px;
	line-height: 39.59375px;
	margin-bottom: 18px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 669.328125px;
	word-spacing: 2px;
}

/* Footer
-------------------------------------------------- */
body {
	/*background-color: #efefef;*/
}

.well-transparent {
	background-color: white;
}

.well {
	background-color: white;
}

/*.small_tag_hover_green :hover {
	background-color:#005500;
}

.small_tag_hover :hover {
	background-color:#555555;
}*/

/*
.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}*/






/* last way */
 /*     body {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
*/
/* for use table inline buttons */
/*table .btn{
  padding: 1px 5px 1px;
  font-size: 7px;
  margin-right: -3px;
}*/

/*
.shadow {
 -moz-box-shadow: 3px 3px 4px #aaa;
 -webkit-box-shadow: 3px 3px 4px #aaa;
 box-shadow: 3px 3px 4px #aaa;
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
}*/

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	/*background-color: #eeeeee;*/
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}

.page-content-wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.mix_nav {
 height: 10px; 
 padding: 20px;
}

.footer {

        padding: 0px 0px;
	margin: -100px auto 0;
	min-width: 1000px;
	height: 200px;
	background: #252525;
	position: relative;
/*background-color: #252525;
padding: 45px 0px;
min-width: 1100px;*/
}







.tested_back {
/*  background-image: 'http://metprocess.com/assets/images/frame1.png';*/
  background-color: #ddFFFF;
}

.unviewed-comment {
  background-color: #eeffff;
}

.shadow_f {
  width: 100%;
  background-image: url(../images/shadow.png);
  background-repeat:repeat-x;
}


.ui-datepicker-current-day .ui-state-active { 
  background: #33bbee; 
  color: black;
  font-weight: 600;
}

.footer_bg {
  background-image: url(../images/footer_bg.jpg);
}



.ib_date {
  color: rgb(51, 51, 51);
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 46px;
  left: 0px;
  line-height: 20px;
  top: 4px;
  width: 47px;
  text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 0px;
}

.ib_month {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(top, rgb(255, 138, 0) 0%, rgb(255, 122, 4) 29%, rgb(255, 88, 12) 71%, rgb(255, 73, 16) 94%, rgb(216, 59, 13) 100%);
  background-origin: padding-box;
  background-size: auto;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-size: 9px;
  height: 18px;
  line-height: 20px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 0px;
  width: 47px;
}

.ib_day {
   -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
  background-color: rgb(240, 240, 240);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
  color: rgb(6, 52, 88);
  font-family: Arial, sans-serif;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-left: 1px;
  padding-bottom: 4px;
  padding-top: 3px;
  text-align: center;
  width: 45px;
}

.media-content {
  padding: 5px 0px;
  min-height: 35px;
}

.media-panel {

}

.media-create-comment {
  display: none;
}

.media-container {
}

.hidden-id {
 display: none;
}

.go_nogo {
  color: gray;
}


.a_tags2:hover {
  color: #000000;
  text-decoration: none;
}

.a_tags2 {
  font-weight: bold;
  color: #668866;
}


.a_tags3:hover {
  color: #000000;
  text-decoration: none;
}

.a_tags3 {
  font-weight: bold;
  color: #777777;
}




.a_tags:hover {
  color: #000000;
  text-decoration: none;
}

.a_tags {
  color: #555555;
/*	color: rgb(51, 51, 51);
	color: #444444;
	font-style: strong;
	font-variant: normal;
	font-weight: 600;
	height: 39px;
	letter-spacing: -1px;
	line-height: 39.59375px;
	margin-bottom: 18px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 669.328125px;
	word-spacing: 2px;*/
}

.badge-light-success {
  background-color: #8FBC8F;
}

.badge-light-success:hover {
  background-color: #004400;	
}

