@(active: String)

<div class="sidebar-nav">
  <div class="well" style="padding: 8px 0;">  
	<ul class="nav nav-list"> 
	  <li class="nav-header">Меню администратора</li>
	  <li @if(active.equals("admin")) { class="active" }><a href="@routes.Admin.admin()"><i class="icon-home"></i> Основная </a></li>
	  <li @if(active.equals("tests")) { class="active" }><a href="@routes.Admin.adminTests()"><i class="icon-list-alt"></i> Тестовые данные </a></li>
      	  <li class="divider"></li>
	  <li @if(active.equals("users")) { class="active" }><a href="@routes.Admin.adminUsers()"><i class="icon-user"></i> Пользователи <span class="badge badge-info">@User.getCount()</span></a></li>
	  <li @if(active.equals("colleges")) { class="active" }><a href="@routes.Admin.adminColleges()"><i class="icon-flag"></i> ВУЗ'ы <span class="badge badge-info">@College.getCount()</span></a></li>
	  <li @if(active.equals("genres")) { class="active" }><a href="@routes.Admin.adminGenres()"><i class="icon-tags"></i> Жанры <span class="badge badge-info">@Genre.getCount()</span></a></li>

          <li class="divider"></li>
	  <li @if(active.equals("params")) { class="active" }><a href="@routes.Admin.adminParams()"><i class="icon-list-alt"></i> Параметры </a></li>
	  <li @if(active.equals("pages")) { class="active" }><a href="@routes.Admin.adminPages()"><i class="icon-th-large"></i> Страницы </a></li>
	</ul>
  </div>
</div>
