@(user: User, comment: Comment)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="media">
  <div class="hidden-id">@comment.getId()</div>
  <a class="pull-left" href="#">@base.mini.userMiniAva(comment.getOwner())</a>
  <div class="media-body">
    <div class="media-content @if(Users.getUser() != null && user != null && user.getId() == Users.getUser().getId() && user.isUnviewed(comment.getId()).equals(true)) { unviewed-comment }" id="comment_id_@comment.getId()">@comment.getContent()</div>
    <div class="media-panel">
      @subjectPresent() {
        <a href="#" class="create-comment">Комментировать</a>
      }
      @if(comment.getDate()!= null) {
        <i class="icon-calendar"></i> @comment.getFormatedShortDate()
      }
      @if(comment.getOwner().getFormattedFIO() != null) {
        <i class="icon-user"></i> <a href="@routes.Materials.materialsByOwner(comment.getOwner().getId())">@comment.getOwner().getFormattedFIO()</a>
      }
      @if(Users.getUser() != null && (Users.getUser().isAdmin() || Users.getUser().isEditor())) {
        <a href="#" class="remove_comment_@comment.getId()"><i class="icon-remove" id="iremove_comment_@comment.getId()"></i></a>
      }
    </div>
    @subjectPresent() {
      <div class="media-create-comment">
        <textarea id="comment_text" rows="2"></textarea>
        <div><a class="send-comment" href="#">Отправить</a></div>
      </div>
    }
    <div class="media-container">@content</div>
  </div>
</div>

  @if(Users.getUser() != null) {
    <script type="text/javascript">
      $('.remove_comment_@comment.getId()').click(function(e) {
        e.preventDefault();
        var cid = @comment.getId();
        target = $(this);
        appJsRoutes.controllers.Comments.remove(cid).ajax({
          success: function(indata) { 
            target.parent().parent().parent().remove();
          },
          error: function(indata) {
            error("error", indata.responseText);
          }
        });
      });
    </script>
  }

  @if(Users.getUser() != null && user != null && user.getId() == Users.getUser().getId() && user.isUnviewed(comment.getId()).equals(true)) { 
    <script type="text/javascript">
      $('#comment_id_@comment.getId()').mouseenter(function() {
        target = $(this);
        appJsRoutes.controllers.Comments.setCommentViewed(@user.getId(), @comment.getId()).ajax({
          success: function(indata) { 
            updateRub();
            target.removeClass('unviewed-comment');
            target.unbind('mouseenter');
          },
          error: function(indata) {
            error("error", indata.responseText);
          }
        });
      });
    </script>
  }

