@(user: User)

@import be.objectify.deadbolt.java.views.html._ 
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div id="userBandEditContainer">

  <ul class="nav nav-tabs" id="ebc_tab_nav">
    <li><a href="#ebc_tab_user">Пользователи</a></li>
    <li><a href="#ebc_tab_genre">Жанры</a></li>
    <li><a href="#ebc_tab_book">Книги</a></li>
    <li><a href="#ebc_tab_author">Авторы</a></li>
    <li><a href="#ebc_tab_college">ВУЗ'ы</a></li>
  </ul>
 
  <div class="tab-content">
    <div class="tab-pane" id="ebc_tab_user">
      <div id="ebc_table_pag_user" class="pagination pagination-centered"></div>
      <table class="table table-condensed" id="ebc_table_users">
        <!-- <thead>
          <tr>
            <th></th>
            <th>en</th>
            <th>rus</th>
          </tr>
        </thead>  -->
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ebc_tab_genre">
      <div id="ebc_table_pag_genre" class="pagination pagination-centered"></div>
      <table class="table table-condensed" id="ebc_table_genres">
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ebc_tab_book">
      <div id="ebc_table_pag_book" class="pagination pagination-centered"></div>
      <table class="table table-condensed" id="ebc_table_books">
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ebc_tab_author">
      <div id="ebc_table_pag_author" class="pagination pagination-centered"></div>
      <table class="table table-condensed" id="ebc_table_authors">
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="ebc_tab_college">
      <div id="ebc_table_pag_college" class="pagination pagination-centered"></div>
      <table class="table table-condensed" id="ebc_table_colleges">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
 
<script>

  function uploadListenObjects(name, num) {
    appJsRoutes.controllers.Users.getListenObjectsPage(@user.getId(), name, num).ajax({
      success: function(indata) {
        $("#ebc_tab_" + name + " tbody").html(indata);
      },
      error: function(indata) {
    	error(indata.responeText);
      }
    });    	   
  };

  function prepareTabForListenObjects(id, name) {
    appJsRoutes.controllers.Users.getListenObjectsPagesCount(id, name).ajax({
      success: function(data) {
        if(parseInt(data) > 0) { 
          $("#ebc_table_pag_" + name).bootpag({
        	maxVisible: 10,
            total: parseInt(data),
            page: 1
          }).on("page", function(event, num) {
        	uploadListenObjects(name, num);
          });
          uploadListenObjects(name, 1);                  
        } else {
          $("#ebc_table_pag_" + name).hide();
        }
      },
      error: function(data) {
       	error(dara.responseText);
      }
    });    	  
  };
  
  $('#ebc_tab_nav a').each(function (e) {
	prepareTabForListenObjects(@user.getId(), $(this).attr('href').substring(9));
  });
  
  $('#ebc_tab_nav a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
  });

  $('#ebc_tab_nav a:first').click();
</script>



 