@***************************************************************************************************************************
 
 Редактирование профиля
 - user - тот, чей профиль редактируем (обязательный параметр) 
 - Users.getUser() - тот, кто редактирует профиль

 Шаблон не вызывается по хэндлеру, поэтому не имеет проверки на обязательные параметры


***************************************************************************************************************************@
@(user: User, mform: Form[models.form.AvatarUploadForm])
@import helper.twitterBootstrap._
      @infoBlock(mform, "editProfile")
      <table class="table table-striped" id="id_edit_profile_table">
        <thead>
          <tr>
            <th>Поле</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <td>Почта</td>
              <td>
                @user.getEmail()
              </td>
            </tr>

        
            <tr>
              <td>Фамилия</td>
              <td>
                <a href="#" id="second_name" data-type="text" data-pk="@user.getId()" data-original-title="Enter new value">@user.getSecondName()</a>
              </td>
            </tr>
            
            <tr>
              <td>Имя</td>
              <td>
                <a href="#" id="first_name" data-type="text" data-pk="@user.getId()" data-original-title="Enter new value">@user.getFirstName()</a>
              </td>
            </tr>
            
            <tr>
              <td>Отчество</td>
              <td>
                <a href="#" id="middle_name" data-type="text" data-pk="@user.getId()" data-original-title="Enter new value">@user.getMiddleName()</a>
              </td>
            </tr>
            
            <tr>
              <td>День рождения</td>
              <td>
                <a href="#" id="birthday" data-type="combodate" data-pk="@user.getId()" data-original-title="Enter new value">@user.getFormatedBirthday()</a>
              </td>
            </tr>
            
            <tr>
              <td>Статус</td>
              <td>
                <a href="#" id="user_status" data-type="select2" data-pk="@user.getId()" data-original-title="Enter new value">
                  @if(user.getStatus()!=null){ @user.getStatus().getName() }
                </a>
              </td>
            </tr>
            
            <tr>
              <td>ВУЗ</td>
              <td>
                <a href="#" id="user_college" data-type="select2" data-pk="@user.getId()" data-original-title="Enter new value">
                  @if(user.getCollege()!=null){ @user.getCollege().getName() }
                </a>
              </td>
            </tr>
            
            <tr>
              <td>Аватар</td>
              <td>
                @forms.avatarUploadForm(user, mform)
              </td>
            </tr>
            
            
        </tbody>
      </table>
      <!-- <a class="btn btn-success" href="routes.Application.profile()">На главную</a>  -->
                     <script type="text/javascript">
                    
                
                    //$.fn.editable.defaults.mode = 'inline';
   					$('#second_name').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Users.changeUserSecondName(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
    					emptytext: 'Заполните поле',
    					showbuttons: false
    				});
					
					$('#first_name').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Users.changeUserFirstName(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
					    emptytext: 'Заполните поле',
					    showbuttons: false
					});
					
					$('#middle_name').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Users.changeUserMiddleName(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
					    emptytext: 'Заполните поле',
					    showbuttons: false
					});
					
					$('#birthday').editable({
						format: 'YYYY-MM-DD',    
				        viewformat: 'YYYY-MM-DD',    
				        template: 'D / MMMM / YYYY',    
				        combodate: {
				                minYear: 1900,
				                maxYear: 2015,
				                minuteStep: 1
				        },
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Users.changeUserBirthday(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
				        emptytext: 'Заполните поле'
				        //showbuttons: false
					});
					
					$('#user_status').editable({
					    source:
						  @Html(models.Status.getStatusesSelect())
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(!params.value) {
    					        	return d.reject('Статус не может быть неопределенным');
    					        }
    					        appJsRoutes.controllers.Users.changeUserStatus(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
						emptytext: 'Заполните поле',
						showbuttons: false
						//pk: {id: '2', text: 'Студент'}
					});
 
 					$('#user_college').editable({
					   source:
						 @Html(College.getCollegesSelect())
    				   url: function(params) {
    					        var d = new $.Deferred;
    					        if(!params.value) {
    					        	return d.reject('Колледж не может быть неопределенным');
    					        }
    					        appJsRoutes.controllers.Users.changeUserCollege(@user.getId(), params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     },
    				   emptytext: 'Заполните поле',
    				   showbuttons: false
    				   //pk: {id: '1', text: 'МГУ'}
					});
                </script>
 
