@(user: User, pageName: String, className: String, users: List[User], genres: List[Genre], authors: List[Author], colleges: List[College], books : List[Book], search: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page(pageName) {
<div class="row">
  <div class="span12">
    @if(user!=null) { @widgets.wHello(user) }
  </div>
</div>
<div class="row">
  @base.leftColumn(user, pageName, className)
  @base.viewBand(user, className, users, genres, authors, colleges, books, search)
</div>    
}
