<footer class="footer fotered footer_bg">
  <div class="shadow_f" style="height: 15px;"></div>
  <div class="container">
  <!--  <hr class="soften">  -->
    <div class="row">
      <div class="span12" style="color: white;">
          <br><br>
          <a href="/"><img src="@routes.Assets.at("images/logo.png")" alt="inaWord"></a>
	<div class="pagination-centered">
        <p align="center" style="color: #888888;">&copy; @Application.getProjectName() 2013</p>
        <!-- <a href="http://www.playframework.com/"><img src="routes.Assets.at("images/play_logo.png")" alt="play framework" style="width: 80px; height: 25px;"></a> -->
        </div>
      </div>
    </div>
<!--    <div class="row">
      <div class="span12" style="color: white;">
        <br><br>
        <p align="center" style="color: #888888;">&copy; @Application.getProjectName() 2013</p>
        <br>
      </div>
    </div>-->
  </div>
</footer>
