@(list : List[Genre]) 
@for(param <- list) {
<tr>
  <td class="trGenreId">@param.getId()</td>
  <td><a href="#" id="name_@param.getId()" data-type="text" data-pk="@param.getId()" data-original-title="Enter new value">@param.getName()</a></td>
</tr>
}
