@(mform: Form[_], id: String)

	<div id="info_block">
	
	  @if(flash.contains("success")) {
	    <div class="alert alert-success" id="info_block_success_@id">
	      <a class="close" data-dismiss="alert">×</a>
	      @flash.get("success")
	    </div>
	  }
	  
	  @if(flash.contains("info")) {
	    <div class="alert alert-info" id="info_block_info_@id">
	      <a class="close" data-dismiss="alert">×</a>
	      @flash.get("info")
	    </div>
	  }
	  
	  @if(flash.contains("warning")) {
	    <div class="alert alert-block" id="info_block_warning_@id">
	      <a class="close" data-dismiss="alert">×</a>
	      @flash.get("warning")
	    </div>
	  }
	  
	  
	  @if(mform != null && mform.hasGlobalErrors) { 
        <div class="alert alert-error" id="info_block_error_form_@id">
          <a class="close" data-dismiss="alert">×</a>
          @mform.globalError.message
        </div>
      }
	  
	  @if(flash.contains("error")) {
	    <div class="alert alert-error" id="info_block_error_@id">
	    <a class="close" data-dismiss="alert">×</a>
	        @flash.get("error")
	    </div>
	  }
	  
	</div>