@(user: User, pageName : String, className: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="span3">
  <ul class="thumbnails">
    @if(user == null) {

    } else {
      <li class="span3">@widgets.wProfileMenu(user, pageName, className)</li>
    }
  </ul>
</div>
