@(models: List[College])


@for(model <- models) {
<tr class="tr-hover">
  <td>@base.mini.getSpanSmallTagMini(model)</td>
  <td><div id="model_id" style="display: none;">@model.getId()</div><a href="#" id="remove_college"><i class="icon-remove-circle"></i></a></td>
</tr>
}

<script type="text/javascript">
  $('#remove_college').click(function(e) {
	e.preventDefault();
	target = $(e.target);
	model_id = parseInt(target.parent().parent().find('#model_id').html());
	appJsRoutes.controllers.Users.setListenObject(@Users.getUser().getId(), "college", model_id, false).ajax({
	  success: function(indata) {
		target.parent().parent().parent().remove();		  
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
	});
  });
</script>