@**********************************************************************************************************************

  Выставляет копку подписаться/отписаться от сущности

  - user - пользователь, которого просматриваем
  - Users.getUser() - пользователь, который просматривает


**********************************************************************************************************************@
@(user: User, className: String, users: List[User], genres: List[Genre], authors: List[Author], colleges: List[College], books : List[Book], search: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@subjectPresent() {
@if(className.equals(Material.CLASS_CUSTOM)) {
  @if(users!=null) {
    @if(users.get(0).getId() != user.getId()) {
      @if(Users.getUser().isListenUser(users.get(0).getId())) { 
        <a href="#" id="dec_user" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от пользователя</span></a>
      } else {
        <a href="#" id="inc_user" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за пользователем</span></a>
      }
    }
  }
  @if(genres!=null) { 
    @if(Users.getUser().isListenGenre(genres.get(0).getId())) {
      <a href="#" id="dec_genre" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от жанра</span></a>
    } else {
      <a href="#" id="inc_genre" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за жанром</span></a>
    }
  }
  @if(colleges!=null) {
    @if(Users.getUser().isListenCollege(colleges.get(0).getId())) {
      <a href="#" id="dec_college" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от ВУЗ'а</span></a>
    } else {
      <a href="#" id="inc_college" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за ВУЗ'ом</span></a>
    }     
  }
  @if(books!=null) {
    @if(Users.getUser().isListenBook(books.get(0).getId())) {
      <a href="#" id="dec_book" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от книги</span></a>
    } else {
      <a href="#" id="inc_book" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за книгой</span></a>
    }            
  }
  @if(authors!=null) {
    @if(Users.getUser().isListenAuthor(authors.get(0).getId())) {
      <a href="#" id="dec_author" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от автора книг</span></a>
    } else {
      <a href="#" id="inc_author" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за автором книг</span></a>
    }            
  }
}

@if(className.equals(Material.CLASS_USER) && user.getId() != Users.getUser().getId()) {
  @if(users!=null && Users.getUser().isListenUser(users.get(0).getId())) { 
  <a href="#" id="dec_user" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Отписаться от пользователя</span></a>
  } else {
  <a href="#" id="inc_user" class="small_tag_hover_info dec_inc"><span class="badge badge-info">Следить за пользователем</span></a>
  }
}

<script type="text/javascript">
  $('.dec_inc').click(function(e) {
	e.preventDefault();
	target = $(e.target);
    strings = $(e.target).parent().attr('id').split('_');
    
    @if(users != null) { id = @users.get(0).getId(); }
    @if(colleges != null) { id = @colleges.get(0).getId(); }
    @if(books != null) { id = @books.get(0).getId(); }
    @if(authors != null) { id = @authors.get(0).getId(); }
    @if(genres != null) { id = @genres.get(0).getId(); }
    
    appJsRoutes.controllers.Users.setListenObject(@user.getId(), strings[1], id, strings[0] == 'inc' ? true : false).ajax({
	  success: function(indata) {
		if(strings[0] == 'inc') {
          @if(users != null) { msg = "Отписаться от пользователя"; nid = "dec_user"; }
	      @if(genres != null) { msg = "Отписаться от жанра"; nid = "dec_genre"; }
	      @if(colleges != null) { msg = "Отписаться от ВУЗ'а"; nid = "dec_college"; }
	      @if(books != null) { msg = "Отписаться от книги"; nid = "dec_book"; }
	      @if(authors != null) { msg = "Отписаться от автора книг"; nid = "dec_author"; }
		} else {
	      @if(users != null) { msg = "Следить за пользователем"; nid = "inc_user"; }
		  @if(genres != null) { msg = "Следить за жанром"; nid = "inc_genre"; }
		  @if(colleges != null) { msg = "Следить за ВУЗ'ом"; nid = "inc_college"; }
		  @if(books != null) { msg = "Следить за книгой"; nid = "inc_book"; }
		  @if(authors != null) { msg = "Следить за автором книг"; nid = "inc_author"; }			
		}
		target.html(msg);
		target.parent().attr('id', nid);
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
	});
  });
</script>
}
