@(user: User, matList : List[Material])

@import be.objectify.deadbolt.java.views.html._ 
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<script type="text/javascript">
  $(function() {
    $.datepicker.setDefaults(
      $.extend($.datepicker.regional["ru"])
    );
  });
</script>

@for(data <- matList) {
<div class="media comment_mini_cont well-transparent" id="material_@data.getId()">
  <div>
    <div class="span1 pull-right" style="width: 60px;">
      @if(data.getType().equals(Material.CLASS_AFFICHE)) {
      <div class="ib_date">
        <div class="ib_month">@data.getStartMonth()</div>
	    <div class="ib_day">@data.getStartDay()</div>
      </div>
      } 
    </div>
  </div>
  <div class="media-body">
    <div class="pagination-centered">
      <a href="@base.mini.getMatTypeHref(data)" class="badge badge-light-success">@data.getViewName()</a>
      <h3><a class="mat_header" href="@routes.Materials.viewMaterial(data.getId())">@data.getViewHeader()</a></h3>
      @base.mini.matTags(user, data)
      @base.mini.matEditorTags(user, data)
    </div>
  </div>
  @if(data != matList.last) { <hr class="soften"> }
</div>
}

              
