@(activeItem: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
	<div class="container">
      <div style="margin: 20px;">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <a class="brand" href="/"><img src="@routes.Assets.at("images/logo.png")" alt="inaWord"></a>
      </div>
    </div>


