@(activeItem: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner navbar-inverse">
    <div class="container">
      <a class="brand" href="/"><img src="@routes.Assets.at("images/logo.png")" alt="inaWord"></a>
      <ul class="nav pull-left">
        <li@if(activeItem.equals("index")) { class="active" }><a href="/" style="height: 10px; padding: 21px;"><i class="icon-home"></i>Главная</a></li>
        @for(page <- models.Page.allVisible()) {
          <li@if(activeItem.equals("page_" + page.getId())) { class="active" }><a href="@routes.Pages.page(page.getId())" style="height: 10px; padding: 21px;">@page.getHeader()</a></li>
        }
      </ul>
      <ul class="nav pull-right"> 
        @restrict(la(as(models.SecurityRole.ROLE_ADMIN))) {
          <li@if(activeItem.equals("admin")) { class="active" }><a href="@routes.Admin.admin()" style="height: 10px; padding: 21px;"><i class="icon-edit"></i>@Messages("navbar.admin")</a></li>
        }
        @subjectPresent() { 
          <li@if(activeItem.equals("profile")) { class="active" }><a href="@routes.Users.profileAuthUser()" style="height: 10px; padding: 21px;"><i class="icon-user"></i>@Users.getUser().getFirstName()</a></li>
          <li@if(activeItem.equals("logout")) { class="active" }><a href="@routes.Users.logout()" style="height: 10px; padding: 21px;"><i class="icon-off"></i>@Messages("navbar.logout")</a></li>
        }
        @subjectNotPresent() {        
          <li@if(activeItem.equals("register")) { class="active" }><a href="@routes.Users.register()" style="height: 10px; padding: 21px;">@Messages("navbar.register")</a></li>
        <li>
        <div style="padding-top: 15px; height: 20px;">
        <form class="form-inline">
          <input id="signin_email" type="text" class="input-small" placeholder="почта">
          <input id="signin_password" type="password" class="input-small" placeholder="пароль">
          <button id="signin_submit" type="submit" class="btn" style="margin-top:0px;">Войти</button>
        </form>
        </div>
        
<script type="text/javascript">
  $("#signin_submit").click(function(event) {
    event.preventDefault();
    var email = $("#signin_email").val();
    if(!email) {
   	  error("Ошибка", "Заполните email");
      return;
    }
    var password = $("#signin_password").val();
    if(!password) {
   	  error("Ошибка", "Заполните пароль");
      return;
    }
    appJsRoutes.controllers.Users.login(email, password).ajax({
      success: function(data) {
        if(!data) {
      	  window.location.replace("@routes.Users.profileAuthUser()");
        } else {
          error("Ошибка", data);
        }
      },
      error: function(data) {
        window.location.replace(data.responseText)
      }
    });
  });
</script>
		</li>
        }
      </ul>
    </div>
  </div>
    <div class="shadow_f" style="height: 15px;"></div>
</div>
<div style="height: 56px;"></div>

