@(activeItem: String)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(activeItem) {
  @navbar(activeItem)
  @if(activeItem.equals("index")) {
  @subjectNotPresent() {
<!--
<header class="jumbotron subhead tested_back" id="overview">
  <div class="container pagination-centered mat_content_css">
    <h3>Площадка литературных критиков!</h3>
    <p class="lead">Добро пожаловать на площадку литературных критиков "Одним словом". Регистрируйтесь и присоединяйтесь. Делитесь мыслями, комментируйте размышления ваших друзей и коллег, узнавайте об интересных событиях и книгах. Читайте, пишите, просвещайтесь и просвещайте!</p>
    <div class="span3 offset1">
      <a class="brand" href="/"><img src="@routes.Assets.at("images/frame1.png")" alt="inaWord"></a>     
      <h5>Просматривайте материалы!</h5>
    </div>
    <div class="span3">
      <a class="brand" href="/"><img src="@routes.Assets.at("images/frame2.png")" alt="inaWord"></a>     
      <h5>Создавайте рецензии!</h5>
    </div>
    <div class="span3">
      <a class="brand" href="/"><img src="@routes.Assets.at("images/frame3.png")" alt="inaWord"></a>     
      <h5>Принимайте участие!</h5>
    </div>
    <div>
      <br>
    </div>
  </div>
</header>-->

  <!--<div class="jumbotron">
    <div class="container">
     <h3>Прощадка литературных критиков!</h3>
     <p class="lead">Регистрируйтесь и создавайте свой Переплет. Делитесь мыслями о книгах, комментируйте размышления ваших друзей и профессиональных литературных критиков, сообщайте и узнавайте об интересных событиях, добивайтесь славы и денежного успеха, меценатствуйте, читайте стихи и прозу и будьте счастливы!.</p>
     <a class="btn btn-large btn-success" href="routes.Users.register()">Принять участие</a>
    </div>
  </div>-->
  }
  }
  <div class="container">
    <br>
    @content
  </div>
}
