@(modelList : List[models.Page]) 
  @for(model <- modelList) {
    <tr>
      <td>@model.getId()</td>
      <td>@model.getHeader()</td>
      <td>
        <div id="model_id" style="display: none;">@model.getId()</div>
        <a href="#" class="remove_model" rel="tooltip" title="Удалить"><i class="icon-remove-circle"></i></a>
        <a href="@routes.Pages.edit(model.getId())" class="edit_model" rel="tooltip" title="Редактировать"><i class="icon-pencil"></i></a>
        <a href="#" class="visible_model" rel="tooltip" title="Изменить видимость"><i @if(model.getVisible()) { class="icon-eye-close" } else { class="icon-eye-open" } ></i></a>
      </td>
    </tr>
  }

<script type="text/javascript">
  $('.remove_model').click(function(e) {
    e.preventDefault();
    target = $(e.target).parent().parent();
    modelId = parseInt(target.children('#model_id').html());
    appJsRoutes.controllers.Pages.remove(modelId).ajax({
      success: function(indata) {
        target.parent().remove();
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });

  $('.visible_model').click(function(e) {
    e.preventDefault();
    target = $(e.target);
    isOpen = target.hasClass('icon-eye-open');
    vIcon = isOpen ? "icon-eye-close" : "icon-eye-open";
    vOldIcon = isOpen ? "icon-eye-open" : "icon-eye-close";
    modelId = parseInt(target.parent().parent().children('#model_id').html());
    appJsRoutes.controllers.Pages.setVisible(modelId, isOpen).ajax({
      success: function(indata) {
        target.removeClass(vOldIcon);
        target.addClass(vIcon);
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });
</script>

