@(paramsList : List[Param]) 
              @for(param <- paramsList) {
              <tr>
                <td>@param.id</td>
                <td><a href="#" id="name_@param.getId()" data-type="text" data-pk="@param.getId()" data-original-title="Enter new value">@param.getName()</a></td>
                <td><a href="#" id="descr_@param.getId()" data-type="wysihtml5" data-pk="@param.getId()" data-original-title="Enter new value">@param.getDescr()</a></td>
                <td><a href="#" id="value_@param.getId()" data-type="text" data-pk="@param.getId()" data-original-title="Enter new value">@param.getValue()</a></td>
                
                <script type="text/javascript">
   					$('#name_@param.getId()').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.value == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Admin.changeParamName(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});

   					$('#value_@param.getId()').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        appJsRoutes.controllers.Admin.changeParamValue(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});
					
					$('#descr_@param.getId()').editable({
    					url: function(params) {
    					        var d = new $.Deferred;
    					        if(params.descr == null) {
    					        	return d.reject('Can\'t be null');
    					        }
    					        appJsRoutes.controllers.Admin.changeParamDescr(params.pk, params.value).ajax({
    						        success: function() {
              							d.resolve();
           							}
    					        });
       							return d.promise();
    					     }
					});
                </script>
                <td>
                  <div class="btn-group">
  		    <button class="btn" id="btn_remove_param_@param.getId()">Удалить</button>
		  </div>
		  <script type="text/javascript">
		    $("#btn_remove_param_@param.getId()").click(function() {
  		      appJsRoutes.controllers.Admin.removeParam(@param.getId()).ajax({
    		        success: function() {
                          $('#btn_remove_param_@param.getId()').parent().parent().parent().remove();
       			}
    		      });
		    });
                  </script>
	        </td>	
              </tr>
              }
