@(user:User, page: String, className: String)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="row">
  @leftColumn(user, page, null)
  <div class="span9">
    @subjectPresent() { 
    <div class="thumbnail">
  	  @content
    </div>
    }
  </div>
</div>    
