@(user: User)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="btn-group">	
  @restrict(la(as(models.SecurityRole.ROLE_USER),	as(models.SecurityRole.ROLE_ADMIN))) {
  <a class="btn btn-small" href="/publish/review">рецензия</a>
  <a class="btn btn-small" href="/publish/affiche">афиша</a>
  }

  @restrict(la(as(models.SecurityRole.ROLE_EDITOR), as(models.SecurityRole.ROLE_ADMIN))) {
  <a class="btn btn-small" href="/publish/interview">интервью</a>
  <a class="btn btn-small" href="/publish/translate">перевод</a>
  <a class="btn btn-small" href="/publish/knigoverth">всякая всячина</a>	
  }
</div>
	

