@(usersList : List[User]) 

@for(user <- usersList) {
<tr>
  <td class="trUserId">@user.getId()</td>
  <td>@base.mini.ownerImage(user)</td>
  <td><a href="@routes.Users.profile(user.getId())">профиль</a></td>
  <td>@user.getEmail()</td>
  <td>
  	<input class="isEditorCheckbox" type="checkbox" @if(user.isEditor()) { checked }>
  </td>
</tr>
}
