@**********************************************************************************************************************************
 
  Производит выборку необходимых материалов 
  
  user      - пользователь 
  className - тип выборки:
      CLASS_ALL               - все материалы
      CLASS_REVIEW            - все рецензии
      CLASS_REVIEW_PROFESSOR  - рецензии профессоров
      CLASS_REVIEW_STIDENT    - рецензии студентов
      CLASS_AFFICHE           - все афишы
      CLASS_INTERVIEW         - все интервью
      CLASS_KNIGOVERTH        - все из раздела 'всякая всячина'
      CLASS_USER              - пользовательская выборка (наборы по жанрам, названиям книг, авторам книг, пользователям, вузам)
      CLASS_CUSTOM            - кастомизированная выборка (один выбор из одной из следующих категорий жанрам, названиям книг, авторам книг, пользователям, вузам)

  search    - поле поиска по всем полям 

***********************************************************************************************************************************@  
@(user: User, className: String, users: List[User], genres: List[Genre], authors: List[Author], colleges: List[College], books : List[Book], search: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="span9">
  @widgets.wRubricator2(user, className, className)
  @subjectPresent() {
  @if((className.equals(Material.CLASS_CUSTOM) && (users==null || (users!=null && users.get(0).getId() != user.getId()))) || (className.equals(Material.CLASS_USER) && user.getId() != Users.getUser().getId())) {
  <br>
  <div class="pagination-centered">
  @base.listen(user, className, users, genres, authors, colleges, books, search)
  </div>
  <hr class="soften">
  }
  }
  <br>
  <div id="materials_container"></div>  
  <br>
  <div id="divGetMoreMaterials" class="pagination-centered">
    <a id="aGetMoreMaterials" href="#" style="display: none;"><img class="imgGetMoreMaterials" src="@routes.Assets.at("images/down.png")" alt="get more"></a>
    <script type="text/javascript">
      $('#aGetMoreMaterials').hover(
        function() {
          $(this).find('img').attr("src", '@routes.Assets.at("images/down_up.png")');
        },
        function() {
          $(this).find('img').attr("src", '@routes.Assets.at("images/down.png")');
        }
      );
    </script>
  </div>
</div>

<script type="text/javascript">
  var materialsPageNum = 1;
  var materialsClassName = "@className";
  @if(user == null) {
	  var userId = -1;
  } else {
	  var userId = @user.getId();
  }
  
  @if(className.equals(Material.CLASS_CUSTOM)) {
    @if(users!=null) { var id = @users.get(0).getId(); var fieldName = "user"; }
    @if(genres!=null) { var id = @genres.get(0).getId(); var fieldName = "genre"; }
    @if(colleges!=null) { var id = @colleges.get(0).getId(); var fieldName = "college"; }
    @if(books!=null) { var id = @books.get(0).getId(); var fieldName = "book"; }
    @if(authors!=null) { var id = @authors.get(0).getId(); var fieldName = "author"; }
  }
  
  function refreshMaterialsViewByClass() {
    @if(className.equals(Material.CLASS_CUSTOM)) {
	  appJsRoutes.controllers.Materials.getMaterialsCustomByFieldPagesCount(userId, fieldName, id).ajax({
		success: function(indata) {
		  retInt = parseInt(indata);
		    if(retInt > 0) {
	  	      if(retInt >= materialsPageNum) {
		        appJsRoutes.controllers.Materials.getMaterialsCustomByFieldPage(userId, fieldName, id, materialsPageNum).ajax({
		          success: function(indata) {

		            if(materialsPageNum == 1) {
	                      $("#materials_container").hide();
		              $("#materials_container").html(indata);
  		              $("#materials_container").fadeIn('slow');
		      	    } else {
	  	      	      $("#materials_container").append(indata);
		            }
                            if(retInt > materialsPageNum) {
                              $("#aGetMoreMaterials").show();
                            } else {
                              $("#aGetMoreMaterials").hide();
                            }
		          },
		          error: function(indata) {
	 	            error("Ошибка", indata.responseText);
		          }
		        });
		      }
		    }          
		  },
		error: function(indata) {
	  	  error("Ошибка", indata.responseText);
		}
	  }); 	  
    } else {
	  appJsRoutes.controllers.Materials.getMaterialsByClassPagesCount(userId, materialsClassName).ajax({
	    success: function(indata) {
	      retInt = parseInt(indata);
	      if(retInt > 0) {
  	        if(retInt >= materialsPageNum) {
	          appJsRoutes.controllers.Materials.getMaterialsByClassPage(userId, materialsClassName, materialsPageNum).ajax({
	            success: function(indata) {
                          if(materialsPageNum == 1) {
		             $("#materials_container").hide();
	                     $("#materials_container").html(indata);
		             $("#materials_container").fadeIn('slow');
  	        	  } else {
  	        	     $("#materials_container").append(indata);
	        	  }
   		          if(retInt > materialsPageNum) {
                             $("#aGetMoreMaterials").show();
                          } else {
                             $("#aGetMoreMaterials").hide();
                          }
	            },
	            error: function(indata) {
 	              error("Ошибка", indata.responseText);
	            }
	          });
	        }
	      }          
	    },
	    error: function(indata) {
  	      error("Ошибка", indata.responseText);
	    }
	  }); 
    }
  }
  
  $('#aGetMoreMaterials').click( function(e) {
	  e.preventDefault();
	  materialsPageNum++;
	  refreshMaterialsViewByClass();
  });
  
  function updateBandAsIgo(bmId) {
    @if(className.equals(Material.CLASS_IGO)) {
      $(bmId).remove();
      if($('#materials_container div').length == 0) {
        window.location.replace("@routes.Materials.materialsByClass(user.getId(), Material.CLASS_ALL)");
      };
    }
  };
  
  refreshMaterialsViewByClass();
</script>
