@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {
<div class="row">
  <div class="span3">@base.adminMenu("admin")</div>
  <div class="span9"></div>
</div>    
}
