@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {
<div class="row">
  <div class="span3">@base.adminMenu("colleges")</div>
  <div class="span9">
    <div id="colleges_table_paginator" class="pagination-centered"></div>
    <table class="table table-condensed" id="colleges_table">
      <tbody></tbody>
    </table>
  </div>
</div>

<script type='text/javascript'>
  appJsRoutes.controllers.Admin.getCollegesPagesCount().ajax({
	success: function(data) {
	  if(parseInt(data) > 0) { 
        $('#colleges_table_paginator').bootpag({
          maxVisible: 10,
          total: parseInt(data),
          page: 1
        }).on("page", function(event, num) {
          appJsRoutes.controllers.Admin.getCollegesPage(num).ajax({
            success: function(indata) {
              $('#colleges_table > tbody').html(indata);
            }
          });
        });
        appJsRoutes.controllers.Admin.getCollegesPage(1).ajax({
          success: function(inerdata) {
            $('#colleges_table > tbody').html(inerdata);
          }
        });
      }       
	}
  });    
</script>
}
