@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {
<div class="row">
  <div class="span3">@base.adminMenu("users")</div>
  <div class="span9">
    <ul class="nav nav-pills" id="select_users_navbar">
      <li><a id="ALL_USERS" href="#">Все пользователи</a></li>
      <li><a id="ONLY_EDITORS" href="#">Редакторы</a></li>
      <li><a id="ONLY_USERS" href="#">Обычные пользователи</a></li>
    </ul>
    <div id="paginator_container" class="pagination-centered"></div>
    <table class="table table-condensed" id="users_table">
      <thead>
        <tr>
          <th>@Messages("admin.user.id")</th>
          <th>avatar</th>
          <th>@Messages("admin.user.email")</th>
          <th>Редактор</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script type='text/javascript'>
  function uploadUsers(inuserType, num, userType) {
    appJsRoutes.controllers.Admin.getUsersPage(inuserType, num).ajax({
      success: function(indata) {
        $('#users_table > tbody').html(indata);
        $('#users_table > tbody .isEditorCheckbox').click(function(e) {
          var curCheckbox = $(this);
          var userId = parseInt(curCheckbox.parent().parent().find('.trUserId').html());
          var curIsChecked = curCheckbox.prop("checked");
          appJsRoutes.controllers.Admin.setUserEditor(userId, curIsChecked).ajax({
       	    success: function(insdata) {
       	     /*if((userType == 'ONLY_USERS' && curIsChecked) || (userType == 'ONLY_EDITORS' && !curIsChecked)) {
       	      curCheckbox.parent().parent().remove();
       	      }*/
       	    },
       	    error: function(insdata) {
       	      curCheckbox.attr("checked", !curIsChecked);
       	      error("Ошибка", insData.responseText);
       	    }
          });
        });
      }
    });    	   
  };
 
  function uploadPage(userType) {
    var inuserType = userType ? userType : "all";
    $('#paginator_container').empty();
    $('#paginator_container').html("<div id=\"users_table_paginator\" class=\"pagination-centered\"></div>");
    appJsRoutes.controllers.Admin.getUsersPagesCount(inuserType).ajax({
      success: function(data) {
        if(parseInt(data) > 0) { 
          $('#users_table_paginator').bootpag({
        	maxVisible: 10,
            total: parseInt(data),
            page: 1
          }).on("page", function(event, num) {
        	uploadUsers(inuserType, num, userType);
          });
          uploadUsers(inuserType, 1, userType);                  
        } else {
          $('#users_table > tbody').empty();
        }
  	  }
    });    	   
  };
  
  $("#select_users_navbar li a").click(function(e) {
    e.preventDefault();
    $("#select_users_navbar li").removeClass("active");
    $(this).parent().addClass("active");
    uploadPage($(this).attr('id'));
  });
  
  $("#select_users_navbar li #ALL_USERS").click();
</script>
}
