@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {
<div class="row">
  <div class="span3">@base.adminMenu("genres")</div>
  <div class="span9">
    <div id="genres_table_paginator" class="pagination-centered"></div>
    <table class="table table-condensed" id="genres_table">
      <tbody></tbody>
    </table>
  </div>
</div>

<script type='text/javascript'>
  appJsRoutes.controllers.Admin.getGenresPagesCount().ajax({
    success: function(data) {
      if(parseInt(data) > 0) { 
        $('#genres_table_paginator').bootpag({
          maxVisible: 10,
          total: parseInt(data),
          page: 1
        }).on("page", function(event, num) {
          appJsRoutes.controllers.Admin.getGenresPage(num).ajax({
            success: function(indata) {
              $('#genres_table > tbody').html(indata);
            }  
          });
        });
        appJsRoutes.controllers.Admin.getGenresPage(1).ajax({
            success: function(inerdata) {
              $('#genres_table > tbody').html(inerdata);
            }
        });
      }
    }
  });
</script>
}
