@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {

<div class="row">
  <div class="span3">
  @base.adminMenu("params")
  </div>
  <div class="span9">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/addParam">@Messages("navbar.addParam")</a></li>
        </ul>
      </div>
    </div>
    <div id="params_table_paginator"></div>
    <table class="table table-striped" id="params_table">
      <thead>
        <tr>
          <th>@Messages("admin.param.id")</th>
          <th>@Messages("admin.param.name")</th>
          <th>@Messages("admin.param.descr")</th>
          <th>@Messages("admin.param.value")</th>
          <th>@Messages("admin.param.actions")</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script type='text/javascript'>
  appJsRoutes.controllers.Admin.getParamsPagesCount().ajax({
    success: function(data) {
      if(parseInt(data) > 0) { 
        $('#params_table_paginator').bootpag({
          maxVisible: 10,
          total: parseInt(data),
          page: 1
        }).on("page", function(event, num) {
          appJsRoutes.controllers.Admin.getParamsPage(num).ajax({
            success: function(indata) {
              $('#params_table > tbody').html(indata);
            }
          });
        });
        appJsRoutes.controllers.Admin.getParamsPage(1).ajax({
          success: function(inerdata) {
            $('#params_table > tbody').html(inerdata);
          }
        });
      }       
    }
  });       
</script>

    
}
