@()

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("admin") {
<div class="row">
  <div class="span3">
    @base.adminMenu("params")
  </div>
  <div class="span9">
    <h5>Тестовые данные</h5>
    <p>Для тестирования в системе по умолчанию зарегистрированы следующие пользователи</p>
    <table class="table table-condensed" id="tests_data">
      <thead>
        <tr>
          <th>Администратор</th>
          <th>cromlehg@@gmail.com</th>
          <th>appatit23843</th>
        </tr>
        <tr>
          <th>Редактор</th>
          <th>editor@@editor.ru</th>
          <th>editor1604</th>
        </tr>
        <tr>
          <th>Пользователь</th>
          <th>rm_fobos@@mail.ru</th>
          <th>almer1604</th>
        </tr>
        <tr>
          <th>Пользователь</th>
          <th>katya.tupova@@gmail.com</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
}
