@()

@base.page("admin") {
<div class="row">
  <div class="span3">
  @base.adminMenu("pages")
  </div>
  <div class="span9">
    <a href="@routes.Pages.create()">Создать страницу</a>
    <div id="pages_table_paginator"></div>
    <table class="table table-striped" id="pages_table">
      <tbody></tbody>
    </table>
  </div>
</div>

<script type='text/javascript'>
  appJsRoutes.controllers.Admin.getPagesCount().ajax({
	success: function(data) {
	  if(parseInt(data) > 0) { 
        $('#pages_table_paginator').bootpag({
          maxVisible: 10,
          total: parseInt(data),
          page: 1
        }).on("page", function(event, num) {
          appJsRoutes.controllers.Admin.getPagesPage(num).ajax({
            success: function(indata) {
              $('#pages_table > tbody').html(indata);
            }
          });
        });
        appJsRoutes.controllers.Admin.getPagesPage(1).ajax({
          success: function(inerdata) {
            $('#pages_table > tbody').html(inerdata);
          }
        });
      }       
    }
  });       
</script>

    
}
