@(user: User)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("editBand") {
<div class="row">
  @base.leftColumn(user, "editBand", null)
  @subjectPresent() { 
  <div class="span9">
    @if(user.getId() == Users.getUser().getId() || Users.getUser().isAdmin()) {
      @base.editBandView(user)
    }
  </div>
  }
</div>
}
