@***************************************************************************************************************************
 
 Редактирование профиля:
  - user - пользователь, чей профиль редактируем (обязательный параметр)
  - Users.getUser() - кто редактирует

 Редактировать профиль может только администратор, владелец профиля и редакция

***************************************************************************************************************************@
@(user: User, mform: Form[models.form.AvatarUploadForm])

@base.page("editProfile") {
<div class="row">
  @base.leftColumn(user, "editProfile", null)
  @if( user.access()) {
  <div class="span9">
    @base.editProfileTable(user, mform)
  </div>
  }
</div>
}
