@(user: User, material : Material) 

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@base.page("viewMaterial") {
<div class="row">
  @base.leftColumn(user, "viewMaterial", null)
  <div class="span9">
    <div class="row">
      <div class="span9">
        <div class="well-transparent mat_content_css">
          <div class="row pagination-centered">
            @base.mini.getSmallGreenTag(material)
            <br>
            <br>
          </div>
          @if(material.getType().equals(Material.CLASS_AFFICHE)) {
            <div class="pull-left">
               <div class="b-event-date" style="line-height: 32px;">
                 <div class="date" style="font-size: 32px; font-family: Arial, sans-serif; font-weight: bold; height: 32px; padding: 0px;">@material.getStartDay()</div>
                 <div class="month" style="font-size: 12px; line-height: 18px;">@material.getStartMonth()</div>
                 <div class="weekday" style="font-size: 12px; color: rgb(128, 128, 128); line-height: 18px;">@material.getStartWeekDay()</div>
               </div>
            </div>
            <div class="pull-right">
    	    @subjectPresent() {
              @if(material.getType.equals(Material.CLASS_AFFICHE)) {
                @if(Users.isIgoLocal(user, material)) {
                  <a href="#" id="i_nogo" class="go_nogo"><img src="@routes.Assets.at("images/igo.png")">Я не пойду</a>
                } else {
                  <a href="#" id="i_go" class="go_nogo"><img src="@routes.Assets.at("images/igo.png")">Я пойду</a>
                }
              }
            }
            </div>
          }
          <div class="pagination-centered">
  	    <h3>@material.getViewHeader()</h3>
	    <div>@base.mini.matImage(material)</div>
  	  </div>
  	  <hr class="soften">
 	  <p>@Html(material.getContent())</p>
 	  <hr class="soften">
 	  <div class="pagination-centered">@base.mini.matTags(user, material)</div>
        </div>
        <br>
	@widgets.wComments(user,material)
      </div>
    </div>
  </div>
</div>

@subjectPresent() {
@if(material.getType.equals(Material.CLASS_AFFICHE)) {
<script type="text/javascript">
  $('.go_nogo').click(function(e) {
    e.preventDefault();
    target = $(e.target);
    strings = target.attr('id');
    if(strings == 'i_go') {
      setGoBool = true;
      newId = 'i_nogo';
      newMsg = 'Я не пойду'
    } else if(strings == 'i_nogo') {
      setGoBool = false;
      newId = 'i_go';
      newMsg = 'Я пойду';
    }
    appJsRoutes.controllers.Users.setIgo(@user.getId(), @material.getId(), setGoBool).ajax({
      success: function(indata) {
 	target.attr('id', newId);
	target.html("<img src=\"@routes.Assets.at("images/igo.png")\">" + newMsg);
	updateRub();
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });
  });
  updateRub();
</script>  
}
}

}
