@(user: User, mat: Material)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div id="comments-container">
  <div class="hidden-id">-1</div>
  <div class="media-body">
    <div class="media-panel">
    @subjectPresent() {
      <a href="#" class="create-comment">Комментировать</a>
    }
    </div>
    @subjectPresent() {
    <div class="media-create-comment">
      <textarea id="comment_text" rows="2"></textarea>
      <div><a class="send-comment" href="#">Отправить</a></div>
    </div>
    }
    <div class="media-container"></div>
  </div>
</div>

<script type="text/javascript">
  function hideCurrentAction(target) {
    target.hide();
    target.parent().children('.media-panel').children('.create-comment').show();
  }

  function showCurrentAction(target) {
    target.show();
    target.parent().children('.media-panel').children('.create-comment').hide();
  }

  function hideAllCommentActions() {
    $('.media-create-comment').each(function() {
      hideCurrentAction($(this));
    });
  };

  function bindCommentAction(cid) {
    cid.click(function(e) {
      e.preventDefault();
      hideAllCommentActions();
      target = $(this).parent().parent().children('.media-create-comment');
      showCurrentAction(target);
    });
    target = cid.parent().parent();
    target.children('.media-create-comment').find('.send-comment').click(function(e) {
      e.preventDefault();
      localTarget = $(this);
      cTextArea = $(this).parent().parent().children('textarea');
      cText = cTextArea.val();
      if(cText) {
        hiddenId = target.parent().parent().children('.hidden-id');
        commentId = parseInt(hiddenId.html());
        appJsRoutes.controllers.Comments.sendComment(@mat.getId(), commentId, cText).ajax({
          success: function(data) {
            hideCurrentAction(localTarget.parent().parent());
            cTextArea.val("");
            inCont = target.parent().children('.media-container');
            inCont.prepend(data);
            inCont.find('.create-comment :first').each(function() {
              bindCommentAction($(this));
            });
          },
          error: function(data) {
            error("Ошибка", data.responseText);
          }
        });
      } else {
        error("Ошибка", "Комментарий не может быть пустым.");
      }
    });
  };

  function getBindedIds() {
    hiddenIds = [];
    $('.hidden-id').each(function() {
      hiddenIds.push(parseInt($(this).html()));
    });
  }

  function bindNotBinded(hiddenIds) {
    $('.create-comment').each(function() {
      target = $(this);
      curId = parseInt(target.parent().parent().parent().children('.hiddenId').html());
      if($.inArray(curId, hiddenIds) == -1) {
        bindCommentAction($(this));
      };
    });
  }

  function appendAndBind(data, container) {
    ids = getBindedIds();
    if(data && container) {
      container.append(data);
    };
    bindNotBinded(ids);
  }

  function uploadComments(uid, materialId, pageNum) {
    appJsRoutes.controllers.Comments.getCommentsPageSize(materialId).ajax({
      success: function(indata) {
        if(parseInt(indata)>0) {
          if(parseInt(indata) >= pageNum) {
            appJsRoutes.controllers.Comments.getCommentsPage(uid, materialId, pageNum).ajax({
              success: function(indata) {
                appendAndBind(indata, $('.media-container'));
              },
              error: function(indata) {
                error("Ошибка", indata.responseText);
              }
            });  
          }
        } else {
          appendAndBind(null, null);
        }
      },
      error: function(indata) {
        error("Ошибка", indata.responseText);
      }
    });                 
  };

  @if(user == null) {
    uploadComments(-1, @mat.getId(), 1);
  } else {
    uploadComments(@user.getId(), @mat.getId(), 1);
  }
</script>
