@(user: User)

<!-- 
<h4>
  <p class="text-center">
	if(user.getFirstName() == null) { 
	Здравствуйте!<a	href="routes.Users.editProfile(user.getId())"> Укажите, пожалуйста, больше данных о себе</a> 
	} else { 
	Здравствуйте, user.getFirstName() user.getMiddleName()! 
	}
  </p>
</h4>
 -->
