@()

@import helper.twitterBootstrap._
 
<div class="well">
  <legend>Вход</legend>
  <form method="POST" action="" accept-charset="UTF-8">
    <fieldset>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input name="email" type="text" id="signin_email" value="" class="username span2" placeholder="Email">
      </div>
 	  <div class="input-prepend">
 	    <span class="add-on"><i class="icon-lock"></i></span>
 	    <input name="password" type="password" id="signin_password" class="password span2" placeholder="Пароль">
 	  </div>
      <!--
      <input type="text" id="signin_email" class="span2" name="email" placeholder="Почта">
      <input type="password" id="signin_password" class="span2" name="password" placeholder="Пароль">
       -->
      <div>
        <button type="submit" id="signin_submit" name="submit" class="btn btn-info">Войти</button>
      </div>
    </fieldset>
  </form>
  <a href="@routes.Users.register()">@Messages("navbar.register")</a>
</div>

<script type="text/javascript">
  $("#signin_submit").click(function(event) {
    event.preventDefault();
    var email = $("#signin_email").val();
    if(!email) {
   	  error("Ошибка", "Заполните email");
      return;
    }
    var password = $("#signin_password").val();
    if(!password) {
   	  error("Ошибка", "Заполните пароль");
      return;
    }
    appJsRoutes.controllers.Users.login(email, password).ajax({
      success: function(data) {
        if(!data) {
      	  window.location.replace("@routes.Users.profileAuthUser()");
        } else {
          error("Ошибка", data);
        }
      },
      error: function(data) {
        window.location.replace(data.responseText)
      }
    });
  });
</script>



