@() 

<div id="divModalMsg" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="hModalHeader"></h3>
  </div>
  <div class="modal-body">
    <p id="pModalBody"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>

<script type='text/javascript'>
  function error(header, body) {
	$('#hModalHeader').html(header);
	$('#pModalBody').html(body);
	$('#divModalMsg').modal();
  }
</script>



