@************************************************************************************************************************
 
  Просмотр профиля может вызыватья только, если существует пользователь, которого мы росматириваем - user!=null 
  Действия:
   - редактирование: редакция, админ
   - просмотр: все
 
 
 
***********************************************************************************************************************@
@(user: User, pageName: String, className: String) 

<div class="sidebar-nav">
  <div class="well well-large well-transparent shadow" style="padding: 8px 0;">  
	<ul class="nav nav-list">
	  <li>@wAvatar(user)</li> 
          @if(user.access()) {
            <li class="nav-header">Профиль</li>
            <li @if(pageName.equals("editProfile")) { class="active" } ><a href="@routes.Users.editProfile(user.getId())"><i class="icon-pencil"></i> Редактировать </a></li>
            <li class="divider"></li>
            <li class="nav-header">Публиковать</li>
            @if(user.isUserAdmin) {
            <li @if(pageName.equals("publishReview")) { class="active" }><a href="@routes.Materials.publishReview(user.getId())"><i class="icon-comment"></i> Рецензию </a></li>
            } 
            @if(user.isEditorAdmin) {
            <li @if(pageName.equals("publishAffiche")) { class="active" }><a href="@routes.Materials.publishAffiche(user.getId())"><i class="icon-comment"></i> Афишу </a></li>
            <li @if(pageName.equals("publishInterview")) { class="active" }><a href="@routes.Materials.publishInterview(user.getId())"><i class="icon-comment"></i> Интервью </a></li>
            <li @if(pageName.equals("publishKnigoverth")) { class="active" }><a href="@routes.Materials.publishKnigoverth(user.getId())"><i class="icon-comment"></i> Всякую всячину </a></li>
            }
	      }
	      
	  @if(user!=null && Users.getUser() != null) {
	    <li class="nav-header">Лента</li>
	    <li @if(pageName != null && pageName.equals("editBand")) { class="active" }><a href="@routes.Users.editUserBand(user.getId())"><i class=" icon-check"></i> Настроить </a></li>
	    <li class="divider"></li>
        <li class="nav-header" id="m_my_head" style="display: none;">Мои</li>
        <li id="m_unviewed_comments" @if(className!=null && className.equals(Material.CLASS_UNVIEWED_COMMENTS)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_UNVIEWED_COMMENTS)" id="a_@Material.CLASS_UNVIEWED_COMMENTS">@if(className!=null && className.equals(Material.CLASS_UNVIEWED_COMMENTS)) { <i class="icon-ok"></i> } Комментарии <span class="badge badge-info">+@user.getCachedUnviwedCommentsCount()</span></a></li>
	    <li id="m_igo" @if(className!=null && className.equals(Material.CLASS_IGO)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_IGO)" id="a_@Material.CLASS_IGO">@if(className!=null && className.equals(Material.CLASS_IGO)) { <i class="icon-ok"></i> } Я иду <span class="badge badge-info">@user.getCachedIgoMaterialsCount()</span></a></li>
	    <li id="m_my" @if(className!=null && className.equals(Material.CLASS_MY)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_MY)" id="a_@Material.CLASS_MY">@if(className!=null && className.equals(Material.CLASS_MY)) { <i class="icon-ok"></i> } Публикации <span class="badge badge-info">@user.getMyMaterialsCount()</span></a></li>
	    <li id="m_drafts" @if(className!=null && className.equals(Material.CLASS_USER_DRAFT)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_USER_DRAFT)" id="a_@Material.CLASS_USER_DRAFT">@if(className!=null && className.equals(Material.CLASS_USER_DRAFT)) { <i class="icon-ok"></i> } Черновики <span class="badge badge-info">@user.getMyDraftsCount()</span></a></li>
        @if(user.isEditorAdmin()) {
	      <li class="divider"></li>          
	      <li id="m_all_unvisible" @if(className!=null && className.equals(Material.CLASS_ALL_UNVISIBLE)) { class="active" }"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_ALL_UNVISIBLE)" id="a_@Material.CLASS_ALL_UNVISIBLE">@if(className!=null && className.equals(Material.CLASS_ALL_UNVISIBLE)) { <i class="icon-ok"></i> } Все скрытые <span class="badge badge-info">@Material.getUnvisibleCount()</span></a></li>
	    }
	  }
 
	</ul>
  </div>
</div>

@if(user != null) {
<script type="text/javascript">
function updateRub() {
  appJsRoutes.controllers.Materials.getMyDraftsCountA(@user.getId()).ajax({
    success: function(indata0) {
    countDrafts = parseInt(indata0);
    appJsRoutes.controllers.Materials.getMyMaterialsCountA(@user.getId()).ajax({
      success: function(indata1) {
        countMyMats = parseInt(indata1);
        appJsRoutes.controllers.Materials.getIgoMaterialsCountA(@user.getId()).ajax({
          success: function(indata2) {
            countIgoMats = parseInt(indata2);
            appJsRoutes.controllers.Materials.getUnviewedCommentsCountA(@user.getId()).ajax({
              success: function(indata3) {
            	countUnviewedComments = parseInt(indata3);
            	if(countUnviewedComments || countMyMats || countIgoMats || countDrafts) {
            	  $('#m_my_head').show();
            	  if(countDrafts) {
            		$('#m_drafts span').html(countDrafts);
                        $('#m_drafts').show();
            	  } else {
            		$('#m_drafts').hide();  
            	  }
            	  if(countUnviewedComments) {
            		$('#m_unviewed_comments span').html("+" + countUnviewedComments);
                    $('#m_unviewed_comments').show();
            	  } else {
            		$('#m_unviewed_comments').hide();  
            	  }
            	  if(countIgoMats) {
            		$('#m_igo span').html(countIgoMats);
                    $('#m_igo').show();
              	  } else {
              		$('#m_igo').hide();  
              	  }
            	  if(countMyMats) {
            		$('#m_my span').html(countMyMats);
                    $('#m_my').show();
               	  } else {
              		$('#m_my').hide();  
               	  }
            	} else {
            	  $('#m_my_head').hide();
            	}
              }, 
              error: function(indata3) {
                error("Ошибка", indata3.responseText);	  
              }
            });
          },
          error: function(indata2) {
            error("Ошибка", indata2.responseText);	  
          }
        });
      },
      error: function(indata1) {
	    error("Ошибка", indata1.responseText);
      }
    });
   },
   error: function(indata0) {
     error("Ошибка", indata0.responseText);
   }
  });
};
  
  updateRub();
</script>
}
