@**********************************************************************************************************

  user - владелец рубрикатора
  Users.getUser() - тот, кто просматривает рубрикатор


***********************************************************************************************************@
@(user: User, className: String, selection: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<div class="sidebar-nav shadow" id="rubricator">
  <div class="well" style="padding: 8px 0;">  
	<ul class="nav nav-list" id="">
	  @if(user!=null && Users.getUser() != null) {
	    <li class="nav-header">Лента</li>
	    <li @if(className!=null && className.equals(Material.CLASS_USER)) { class="active" } ><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_USER)" id="a_@Material.CLASS_USER"><i class="icon-film"></i> Смотреть </a></li>
	    <li @if(selection != null && selection.equals("editBand")) { class="active" }><a href="@routes.Users.editUserBand(user.getId())"><i class=" icon-check"></i> Настроить </a></li>
	    <li class="divider"></li>

  	      <li class="nav-header" id="m_my_head" style="display: none;">Мои</li>
          <li id="m_unviewed_comments" @if(className!=null && className.equals(Material.CLASS_UNVIEWED_COMMENTS)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_UNVIEWED_COMMENTS)" id="a_@Material.CLASS_UNVIEWED_COMMENTS">@if(className!=null && className.equals(Material.CLASS_UNVIEWED_COMMENTS)) { <i class="icon-ok"></i> } Комментарии <span class="badge badge-info">+@user.getCachedUnviwedCommentsCount()</span></a></li>
	      <li id="m_igo" @if(className!=null && className.equals(Material.CLASS_IGO)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_IGO)" id="a_@Material.CLASS_IGO">@if(className!=null && className.equals(Material.CLASS_IGO)) { <i class="icon-ok"></i> } Я иду <span class="badge badge-info">@user.getCachedIgoMaterialsCount()</span></a></li>
	      <li id="m_my" @if(className!=null && className.equals(Material.CLASS_MY)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_MY)" id="a_@Material.CLASS_MY">@if(className!=null && className.equals(Material.CLASS_MY)) { <i class="icon-ok"></i> } Мои публикации <span class="badge badge-info">@user.getMyMaterialsCount()</span></a></li>
	      <li id="m_drafts" @if(className!=null && className.equals(Material.CLASS_USER_DRAFT)) { class="active" } style="display: none;"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_USER_DRAFT)" id="a_@Material.CLASS_USER_DRAFT">@if(className!=null && className.equals(Material.CLASS_USER_DRAFT)) { <i class="icon-ok"></i> } Мои черновики <span class="badge badge-info">@user.getMyDraftsCount()</span></a></li>

	      @if(user.isEditorAdmin()) {
	      <li id="m_all_unvisible" @if(className!=null && className.equals(Material.CLASS_ALL_UNVISIBLE)) { class="active" }"><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_ALL_UNVISIBLE)" id="a_@Material.CLASS_ALL_UNVISIBLE">@if(className!=null && className.equals(Material.CLASS_ALL_UNVISIBLE)) { <i class="icon-ok"></i> } Все скрытые <span class="badge badge-info">@Material.getUnvisibleCount()</span></a></li>
	      }
	  }
	  @if(user == null) {
 	    <li class="nav-header">Рецензии</li>
	    <li @if(className!=null && className.equals(Material.CLASS_REVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW)" id="a_@Material.CLASS_REVIEW">@if(className!=null && className.equals(Material.CLASS_REVIEW)) { <i class="icon-ok"></i> } Все рецензии</a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_STUDENT)" id="a_@Material.CLASS_REVIEW_STUDENT">@if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { <i class="icon-ok"></i> } От студентов </a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_PROFESSOR)" id="a_@Material.CLASS_REVIEW_PROFESSOR">@if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { <i class="icon-ok"></i> } От преподавателей </a></li>
      } else {
  	    <li class="nav-header">Материалы</li>
	    <li @if(className!=null && className.equals(Material.CLASS_ALL)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_ALL)" id="a_@Material.CLASS_ALL">@if(className!=null && className.equals(Material.CLASS_ALL)) { <i class="icon-ok"></i> } Все </a></li>
	    <li @if(className!=null && className.equals(Material.CLASS_AFFICHE)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_AFFICHE)" id="a_@Material.CLASS_AFFICHE">@if(className!=null && className.equals(Material.CLASS_AFFICHE)) { <i class="icon-ok"></i> } Афиши	</a></li>
	    <li @if(className!=null && className.equals(Material.CLASS_INTERVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_INTERVIEW)" id="a_@Material.CLASS_INTERVIEW">@if(className!=null && className.equals(Material.CLASS_INTERVIEW)) { <i class="icon-ok"></i> } Интервью </a></li>
	    <li @if(className!=null && className.equals(Material.CLASS_KNIGOVERTH)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_KNIGOVERTH)" id="a_@Material.CLASS_KNIGOVERTH">@if(className!=null && className.equals(Material.CLASS_KNIGOVERTH)) { <i class="icon-ok"></i> } Всякая всячина </a></li>
	    <li class="nav-header">Рецензии</li>
	    <li @if(className!=null && className.equals(Material.CLASS_REVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_REVIEW)" id="a_@Material.CLASS_REVIEW">@if(className!=null && className.equals(Material.CLASS_REVIEW)) { <i class="icon-ok"></i> } Все рецензии</a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_REVIEW_STUDENT)" id="a_@Material.CLASS_REVIEW_STUDENT">@if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { <i class="icon-ok"></i> } От студентов </a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_REVIEW_PROFESSOR)" id="a_@Material.CLASS_REVIEW_PROFESSOR">@if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { <i class="icon-ok"></i> } От преподавателей </a></li>      
      }
	</ul>
  </div>
</div>


@if(user != null) {
<script type="text/javascript">
function updateRub() {
  appJsRoutes.controllers.Materials.getMyDraftsCountA(@user.getId()).ajax({
    success: function(indata0) {
    countDrafts = parseInt(indata0);
    appJsRoutes.controllers.Materials.getMyMaterialsCountA(@user.getId()).ajax({
      success: function(indata1) {
        countMyMats = parseInt(indata1);
        appJsRoutes.controllers.Materials.getIgoMaterialsCountA(@user.getId()).ajax({
          success: function(indata2) {
            countIgoMats = parseInt(indata2);
            appJsRoutes.controllers.Materials.getUnviewedCommentsCountA(@user.getId()).ajax({
              success: function(indata3) {
            	countUnviewedComments = parseInt(indata3);
            	if(countUnviewedComments || countMyMats || countIgoMats || countDrafts) {
            	  $('#m_my_head').show();
            	  if(countDrafts) {
            		$('#m_drafts span').html(countDrafts);
                        $('#m_drafts').show();
            	  } else {
            		$('#m_drafts').hide();  
            	  }
            	  if(countUnviewedComments) {
            		$('#m_unviewed_comments span').html("+" + countUnviewedComments);
                    $('#m_unviewed_comments').show();
            	  } else {
            		$('#m_unviewed_comments').hide();  
            	  }
            	  if(countIgoMats) {
            		$('#m_igo span').html(countIgoMats);
                    $('#m_igo').show();
              	  } else {
              		$('#m_igo').hide();  
              	  }
            	  if(countMyMats) {
            		$('#m_my span').html(countMyMats);
                    $('#m_my').show();
               	  } else {
              		$('#m_my').hide();  
               	  }
            	} else {
            	  $('#m_my_head').hide();
            	}
              }, 
              error: function(indata3) {
                error("Ошибка", indata3.responseText);	  
              }
            });
          },
          error: function(indata2) {
            error("Ошибка", indata2.responseText);	  
          }
        });
      },
      error: function(indata1) {
	    error("Ошибка", indata1.responseText);
      }
    });
   },
   error: function(indata0) {
     error("Ошибка", indata0.responseText);
   }
  });
};
  
  updateRub();
</script>
}
