@**********************************************************************************************************

  user - владелец рубрикатора
  Users.getUser() - тот, кто просматривает рубрикатор


***********************************************************************************************************@
@(user: User, className: String, selection: String)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<div class="row" style="margin: 10px 0px 0px 40px;">
<ul class="nav nav-pills">
  @if(user == null) {
    <li @if(className!=null && className.equals(Material.CLASS_ALL)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_ALL)" id="a_@Material.CLASS_ALL"> Все </a></li>
    <li @if(className!=null && className.equals(Material.CLASS_AFFICHE)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_AFFICHE)" id="a_@Material.CLASS_AFFICHE"> Афиши	</a></li>
    <li @if(className!=null && className.equals(Material.CLASS_INTERVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_INTERVIEW)" id="a_@Material.CLASS_INTERVIEW"> Интервью </a></li>
    <li @if(className!=null && className.equals(Material.CLASS_KNIGOVERTH)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_KNIGOVERTH)" id="a_@Material.CLASS_KNIGOVERTH"> Всякая всячина </a></li>
    
    <li class="dropdown 
      @if(className!=null && (className.equals(Material.CLASS_REVIEW) || className.equals(Material.CLASS_REVIEW_STUDENT) || className.equals(Material.CLASS_REVIEW_PROFESSOR))) { active }" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Рецензии:&nbsp;
        @if(className!=null) {
          @if(className.equals(Material.CLASS_REVIEW)) {
            все
          }
          @if(className.equals(Material.CLASS_REVIEW_STUDENT)) {
            от студентов
          }
          @if(className.equals(Material.CLASS_REVIEW_PROFESSOR)) {
            от преподавателей
          }          
        } 
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
   	    <li @if(className!=null && className.equals(Material.CLASS_REVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW)" id="a_@Material.CLASS_REVIEW">@if(className!=null && className.equals(Material.CLASS_REVIEW)) { <i class="icon-ok"></i> } Все рецензии</a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_STUDENT)" id="a_@Material.CLASS_REVIEW_STUDENT">@if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { <i class="icon-ok"></i> } От студентов </a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_PROFESSOR)" id="a_@Material.CLASS_REVIEW_PROFESSOR">@if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { <i class="icon-ok"></i> } От преподавателей </a></li>
      </ul>
    </li>
  } else {
    <li @if(className!=null && className.equals(Material.CLASS_USER)) { class="active" } ><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_USER)" id="a_@Material.CLASS_USER"> Моя лента </a></li>
    <li @if(className!=null && className.equals(Material.CLASS_ALL)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_ALL)" id="a_@Material.CLASS_ALL"> Все </a></li>
    <li @if(className!=null && className.equals(Material.CLASS_AFFICHE)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_AFFICHE)" id="a_@Material.CLASS_AFFICHE"> Афишы	</a></li>
    <li @if(className!=null && className.equals(Material.CLASS_INTERVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_INTERVIEW)" id="a_@Material.CLASS_INTERVIEW"> Интервью </a></li>
    <li @if(className!=null && className.equals(Material.CLASS_KNIGOVERTH)) { class="active" }><a href="@routes.Materials.materialsByClass(user.getId(), Material.CLASS_KNIGOVERTH)" id="a_@Material.CLASS_KNIGOVERTH"> Всякая всячина </a></li>
    
    <li class="dropdown 
      @if(className!=null && (className.equals(Material.CLASS_REVIEW) || className.equals(Material.CLASS_REVIEW_STUDENT) || className.equals(Material.CLASS_REVIEW_PROFESSOR))) { active }" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Рецензии:&nbsp;
        @if(className!=null) {
          @if(className.equals(Material.CLASS_REVIEW)) {
            все
          }
          @if(className.equals(Material.CLASS_REVIEW_STUDENT)) {
            от студентов
          }
          @if(className.equals(Material.CLASS_REVIEW_PROFESSOR)) {
            от преподавателей
          }          
        } 
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
   	    <li @if(className!=null && className.equals(Material.CLASS_REVIEW)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW)" id="a_@Material.CLASS_REVIEW">@if(className!=null && className.equals(Material.CLASS_REVIEW)) { <i class="icon-ok"></i> } Все рецензии</a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_STUDENT)" id="a_@Material.CLASS_REVIEW_STUDENT">@if(className!=null && className.equals(Material.CLASS_REVIEW_STUDENT)) { <i class="icon-ok"></i> } От студентов </a></li>
        <li @if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { class="active" }><a href="@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_PROFESSOR)" id="a_@Material.CLASS_REVIEW_PROFESSOR">@if(className!=null && className.equals(Material.CLASS_REVIEW_PROFESSOR)) { <i class="icon-ok"></i> } От преподавателей </a></li>
      </ul>
    </li>
  }
</ul>
</div>
