@(elements: helper.FieldElements)  

<div class="control-group @if(elements.hasErrors) {error}">  
  <label class="control-label" for="@elements.id">@elements.label</label>  
  <div class="controls">@elements.input  
    <p class="help-inline">@elements.infos.mkString(", ")</p>  
    @if(elements.hasErrors) { <p class="help-block">@elements.errors.mkString(", ")</p> }  
  </div>  
</div>