@(model: ModelInterface)
@if(model != null) {
  @model match {
    case user   : User    =>   {
      <a class="a_tags3" href="@routes.Materials.materialsByOwner(model.getId)">@user.getFormattedFIO()&nbsp;</a> 
    }
    case book   : Book    =>   {
      <a class="a_tags2" href="@routes.Materials.materialsByBook(model.getId)">@book.getName()&nbsp;</a>
    }
    case author : Author  =>   {
      <a class="a_tags2" href="@routes.Materials.materialsByAuthor(model.getId)">@author.getName()&nbsp;</a>
    }
    case college: College =>   { 
      <a class="a_tags" href="@routes.Materials.materialsByCollege(model.getId)">@college.getName()&nbsp;</a>
    }
    case genre  : Genre   =>   { 
      <a class="a_tags" href="@routes.Materials.materialsByGenre(model.getId)">@genre.getName()&nbsp;</a>
    }
  }
</a>
}
