@(material : Material)

@if(material.getType().equals(Material.CLASS_REVIEW)) {
@if(material.getFormattedFIO()!=null) { 
<span class="label">@material.getFormattedFIO()</span>
} else { 
<span class="label">Без имени</span> 
} 
}

