@(user: User, data: Material)

@import be.objectify.deadbolt.java.views.html._ 
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@if(Users.getUser()!=null && Materials.accessEditMat(data)) {
<div id="small_view_mat_editor_@data.getId()">	  
   <a href="@routes.Materials.editMaterial(user.getId(), data.getId())"><i class="icon-pencil"></i></a>
   @if(Users.getUser().isAdmin() || Users.getUser().isEditor()) {
   |
   @if(data.getEditorStatus()!=null && data.getEditorStatus().getId() == MaterialStatus.getVisibleStatus().getId()) {
     <a href="#" class="visible_@data.getId()"><i class="icon-eye-close" id="inotvisible_@data.getId()"></i></a>
   } else {
     <a href="#" class="visible_@data.getId()"><i class="icon-eye-open" id="ivisible_@data.getId()"></i></a>
   }
   <script type="text/javascript">
     $(".visible_@data.getId()").click(function(e) {
	   e.preventDefault();
	   targetObj = $(this).find('i');
	   isVisible = targetObj.attr('id') == 'ivisible_@data.getId()';
	   newId = isVisible ? 'inotvisible_@data.getId()' : 'ivisible_@data.getId()';
	   appJsRoutes.controllers.Materials.setVisible(@Users.getUser().getId(), @data.getId(), isVisible).ajax({
         success: function(indata) {
           if(isVisible) {
             targetObj.parent().html("<i class=\"icon-eye-close\" id=\"inotvisible_@data.getId()\"></i>");
           } else {
             targetObj.parent().html("<i class=\"icon-eye-open\" id=\"ivisible_@data.getId()\"></i>");
           }
	     },
	     error: function(error) {
           error("error", error.responseText);
	     }
	   });
	 });
   </script>
   }
   @if(Users.getUser().isAdmin() || Users.getUser().isEditor() || Users.getUser().getId() == data.getOwner().getId()) {
     | <a href="#" class="remove_@data.getId()"><i class="icon-remove" id="iremove_@data.getId()"></i></a>
     <script type="text/javascript">
       $(".remove_@data.getId()").click(function(e) {
	     e.preventDefault();
	     targetObj = $(this);
	     appJsRoutes.controllers.Materials.remove(@data.getId()).ajax({
           success: function(indata) {
             targetObj.parent().parent().parent().parent().remove();
	       },
	       error: function(error) {
             error("error", error.responseText);
	       }
	     });
	   });
     </script>
   }
</div>
}
