@(material : Material)

@if(material.getOwner().isAdmin() || material.getOwner().isEditor()) {
  <img src="@routes.Assets.at("images/editor_r.png")" class="img-rounded media-object" style="width: 64px; height: 64px;" rel="tooltip" title="Редакция">
} else {
  @if(material.getOwner().getStatus() == null) {
    <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW)'" src="@routes.Assets.at("images/user_r.png")" class="img-rounded media-object" style="width: 64px; height: 64px;" rel="tooltip" title="Пользователь">
  } else {
    @if(material.getOwner().getStatus().getName().equals(models.Status.STATUS_STUDENT)) {
      <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_STUDENT)'" src="@routes.Assets.at("images/user_s.png")" class="img-rounded media-object" style="width: 64px; height: 64px;" rel="tooltip" title="Студент">
    } else {
      <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_PROFESSOR)'" src="@routes.Assets.at("images/user_p.png")" class="img-rounded media-object" style="width: 64px; height: 64px;" rel="tooltip" title="Преподаватель">
    }
  }
}
