@(user: User, data: Material)

@import be.objectify.deadbolt.java.views.html._ 
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<div id="small_view_mat_@data.getId()">	  
  <p>
    @if(data.getOwner().isAdmin() || data.getOwner().isEditor()) {
      <img src="@routes.Assets.at("images/editor_r.png")" style="width: 16px; height: 16px; margin-top: -3px;" rel="tooltip" title="Редакция"/>
    } else {
      @if(data.getOwner().getStatus() == null) {
        <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW)'" src="@routes.Assets.at("images/user_r.png")" style="width: 16px; height: 16px; margin-top: -3px;" rel="tooltip" title="Пользователь"/>
      } else {
        @if(data.getOwner().getStatus().getName().equals(models.Status.STATUS_STUDENT)) {
          <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_STUDENT)'" src="@routes.Assets.at("images/user_s.png")" style="width: 16px; height: 16px; margin-top: -3px;" rel="tooltip" title="Студент"/>
        } else {
          <img onClick="window.location.href='@routes.Materials.materialsByClass(-1, Material.CLASS_REVIEW_PROFESSOR)'" src="@routes.Assets.at("images/user_p.png")" style="width: 16px; height: 16px; margin-top: -3px;" rel="tooltip" title="Преподаватель"/>
        }
      }
    }
    @if(data.getOwner()!=null && !data.getOwner.isEditor() && data.getOwner().getFormattedFIO() != null) { 
      <a class="a_tags3" href="@routes.Materials.materialsByOwner(data.getOwner().getId())">@data.getOwner().getFormattedFIO()&nbsp;</a> 
    }
    
    
    @base.mini.getMaterialTags(data)
    <p>
    <span id="ya_share@data.getId()"></span>

    </p>
    <script type="text/javascript">    
      new Ya.share({
	link: 'http://inaword.ru/materials/ametrial/@data.getId()',
	title: '@data.getViewName(): @data.getHeader()',
	//description: "data.getSmallContent(255)",
        element: 'ya_share@data.getId()',
        elementStyle: {
          'type': 'none',
          'quickServices': ['vkontakte', '|', 'facebook', '|', 'twitter']
        }
      });
    </script>
  </p>  
</div>
